﻿<div class="col-xs-3">
	{{formatDate dato}}
</div>
<div class="col-xs-3">
	{{navn}}
</div>
<div class="col-xs-3">
	{{kontaktperson}}
</div>
<div class="col-xs-3">
  <button class="btn btn-success" data-role="deleteBesoeg" >Remove</button>
  
  <button class="btn btn-success" data-role="editBesoeg" >Edit</button>
</div>