﻿<div class="col-xs-3">
	{{formatDate dato}}
</div>
<div class="col-xs-3">
	<div class="form-group">
		<label for="navn">Navn</label>
		<input type="text" class="form-control" id="navn" placeholder="Navn" value="{{navn}}" />
    
  </div>
</div>
<div class="col-xs-3">
	<div class="form-group">
			<label for="kontakt">Email address</label>
			<input type="text" class="form-control" id="kontakt" placeholder="Kontaktperson" />
	  </div>	
</div>
<div class="col-xs-3">
  <button class="btn btn-success" data-role="editBesoeg">Luk</button>
</div>