﻿<div>
  <div class="row">
    <div class="col-xs-9">
      <h2>
        Besoegs liste
      </h2>
    </div>
    <div class="col-xs-3">
      <button class="btn btn-info">Sync</button>
    </div>
  </div>
  <div class="row" id="besoegsListe">
    <div class="col-xs-12">
      <button class="btn btn-success addBesoegBtn">Tilføj besøg</button>
    </div>
  </div>
</div>
