﻿@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>OfflinePOC</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div id="header">
            <h1>Offline POC</h1>
        </div>
        <div id="main">
        </div>
    </div>
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Scripts/handlebars.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/backbone.js"></script>
    <script src="~/Scripts/backbone.marionette.js"></script>
    <script src="~/Scripts/amplify.js"></script>
    <script src="~/Scripts/backbone.epoxy.min.js"></script>
    <script src="~/Scripts/App/config/backbone-offline.js"></script>

    @* custom scripts and boot app*@
    <script src="~/Scripts/App/main.js"></script>
    
    <script src="~/Scripts/App/services/dataservice.js"></script>
    <script src="~/Scripts/App/config/marionette_renderer.js"></script>
    <script src="~/Scripts/App/templates/templates.js"></script>
    <script src="~/Scripts/App/entities/base/collection.js"></script>
    <script src="~/Scripts/App/entities/base/model.js"></script>

    <script src="~/Scripts/App/modules/forside/forsideController.js"></script>
    <script src="~/Scripts/App/modules/forside/forsideViews.js"></script>
    <script src="~/Scripts/App/modules/forside/forsideRoute.js"></script>
        <script src="~/Scripts/App/entities/besoeg.js"></script>
</body>
</html>
